<header>
    <div id="navLeft">
    <div>
    <a href="http://localhost:3000/"><img id="logo" src="../assets/img/logoCMDb.png" alt="logo"></a>
    </div>
    <div id="searchBar">
        <input id="search" type="text">
        <ion-icon id='searchIcon' name="search"></ion-icon>
    </div>
    </div>
    <div id="navRight">
        <ul id="nav">
            <li class="navItem"><a href="http://localhost:3000/popularity">Populaires</a></li>
            <li class="navItem"><a href="http://localhost:3000/upComing">Dernières sorties</a></li>
            <li class="navItem"><a href="http://localhost:3000/topRated">Recommandés</a></li>
            <li class="navItem"><a href="http://localhost:3000/contact">Contact</a></li>
        </ul>
    </div>
</header>