
{{!-- --------------Upcoming--------------- --}}
<h3 class="categoryTitle right" >Dernières sorties</h3>
<div id="upComing">
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p class="upComingTitle">titre du film</p>
      <ion-icon class='playIcon' name="play"></ion-icon>
      <p >Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p class="upComingBA">Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>

</div>