{{!-- CAROUSEL --}}
<div class="container-carousel h-20">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-element h-100 row">
                <div class="carousel-image col-6">
                    <img src="../assets/img/affamés.jpg" class="img1 d-block w-100 img-responsive " alt="...">
                </div>
                <div class="carousel-info col-3">
                    <h2>LOL</h2>
                </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-element h-100 row">
                <div class="carousel-image col-6">
                    <img src="../assets/img/frenchDispatch.jpg" class="img1 d-block w-100 img-responsive " alt="...">
                </div>
                <div class="carousel-info col-3">
                    <h2>LOL</h2>
                </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-element h-100 row">
                <div class="carousel-image col-6">
                    <img src="../assets/img/parrain.jpg" class="img1 d-block w-100 img-responsive " alt="...">
                </div>
                <div class="carousel-info col-3">
                    <h2>LOL</h2>
                </div>
                </div>
                </div>
                
                
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


{{!-- --------------Upcoming--------------- --}}
<h3 class="categoryTitle right" >Dernières sorties</h3>
<div id="upComing">
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p class="upComingTitle">titre du film</p>
      <ion-icon class='playIcon' name="play"></ion-icon>
      <p >Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p class="upComingBA">Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>
   <div class="upComingItem">
   <img src="../assets/img/frenchDispatch.jpg" alt="">
   <div class="upComingInfo">
      <p>titre du film</p>
      <ion-icon id='playIcon' name="play"></ion-icon>
      <p>Voir la bande-annonce</p>
   </div>
   </div>

</div>
